<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const tableStore = useTableStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await tableStore.saveTable();
  }
}

function clear() {
  tableStore.dialogEdit = false;
  tableStore.clear();
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogEdit" persistent max-width="600">
      <v-card>
        <v-card-title>
          <span class="text-h5">Table</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    label="Seat*"
                    v-model="tableStore.editedTable.seats"
                    type="number"
                    :rules="[
                      (v) => !!v || 'Seat must not be empty.',
                      (v) => v >= 2 || 'Seat must more than or equal to 2.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Status*"
                    v-model="tableStore.editedTable.status"
                    :rules="[
                      (v) => !!v || 'Status must not be empty.',
                      (v) => v.length === 1 || 'Status must equal to 1.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
