<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { onMounted } from "vue";
const authStore = useAuthStore();

onMounted(async () => {
  authStore.isLogin();
  console.log(authStore.role);
});
</script>

<template>
  <v-app>
    <v-main class="bg-deep-purple-lighten-3">
      <RouterView></RouterView>
    </v-main>
    <v-navigation-drawer
      expand-on-hover
      rail
      permanent
      class="bg-deep-purple-lighten-5"
    >
      <v-list>
        <v-list-item
          prepend-avatar="https://media.discordapp.net/attachments/1054703571083468820/1087807474758860810/image.png?width=702&height=702"
          :title="authStore.name!"
          :subtitle="authStore.email!"
        ></v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list density="compact" nav>
        <v-list-item
          v-if="authStore.role === 'owner'"
          prepend-icon="mdi-account"
          title="Users"
          value="users"
          to="/user"
        ></v-list-item>
        <v-list-item
          v-if="authStore.role === 'owner'"
          prepend-icon="mdi-silverware"
          title="Table Management"
          value="tablemanagement"
          to="/tablemanagement"
        ></v-list-item>
        <v-list-item
          v-if="authStore.role === 'owner'"
          prepend-icon="mdi-archive-settings"
          title="Product Management"
          value="productmanagement"
          to="/productmanagement"
        ></v-list-item>
        <v-list-item
          v-if="authStore.role !== 'chef'"
          prepend-icon="mdi-table-chair"
          title="Table"
          value="table"
          to="/table"
        ></v-list-item>
        <v-list-item
          v-if="authStore.role === 'chef' || authStore.role === 'owner'"
          prepend-icon="mdi-chef-hat"
          title="ChefPanel"
          value="chefview"
          to="/chefview"
        ></v-list-item>
        <v-list-item
          v-if="authStore.role !== 'chef'"
          prepend-icon="mdi-format-list-checks"
          title="ServePanel"
          value="serveview"
          to="/serveview"
        ></v-list-item>
        <v-list-item
          v-if="authStore.role !== 'chef' && authStore.role !== 'cashier'"
          prepend-icon="mdi-check"
          title="Order"
          value="order"
          to="/order"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-logout"
          title="Logout"
          value="logout"
          @click="authStore.logout()"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>
