<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
const orderStore = useOrderStore();
const totalPrice = ref(0);
const total = (price: number): number => {
  totalPrice.value += price;
  return price;
};
onMounted(async () => {
  await orderStore.getOrders();
});
const setZero = () => {
  totalPrice.value = 0;
};
</script>
<script lang="ts">
export default {
  data: () => ({
    length: 3, // starting number of tabs
    tab: 0, //starting page
  }),

  watch: {
    length(val) {
      this.tab = val;
    },
  },
};
</script>

<template>
  <v-card
    style="
      border-radius: 10px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    "
    variant="text"
  >
    <h2
      style="color: black; padding-top: 20px; padding-bottom: 20px"
      class="text-center bg-deep-purple-lighten-4"
    >
      รายการสั่งซื้อ
    </h2>
  </v-card>
  <v-card style="margin-left: 30px; margin-right: 30px; margin-top: none">
    <v-tabs v-model="tab" class="text-center bg-deep-purple-lighten-1">
      <div v-for="n in orderStore.orderList" :key="n.id">
        <v-tab v-if="n.receipt === null" :value="n.id">
          โต๊ะหมายเลข {{ n.table_number }}
        </v-tab>
      </div>
    </v-tabs>
    <v-card-text>
      <v-window
        v-model="tab"
        v-for="n in orderStore.orderList"
        :key="n.id"
        style="border-radius: 10px"
      >
        <v-window-item :value="n.id">
          <v-table class="overflow-y-auto" style="max-height: 500px">
            {{ setZero() }}
            <thead class="text-center bg-deep-purple-lighten-3">
              <tr>
                <th class="text-center" style="font-size: larger">รายการ</th>
                <th class="text-center" style="font-size: larger">จำนวน</th>
                <th class="text-center" style="font-size: larger">ราคา</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of n.orderItems" :key="item.id">
                <td style="text-align: center">
                  {{ item.name }}
                </td>
                <td style="text-align: center">{{ item.qty }}</td>
                <td style="text-align: center">
                  {{ total(item.product!.price * item.qty) }} บาท
                </td>
              </tr>
              <tr>
                <td></td>
                <td
                  class="text-center"
                  style="font-size: 22px; padding-top: 50px"
                >
                  TotalPrice :
                </td>
                <td
                  class="text-center"
                  style="font-size: 22px; padding-top: 50px"
                >
                  {{ totalPrice }} บาท
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<style scoped></style>
