<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
const menuStore = useMenuStore();

const props = withDefaults(
  defineProps<{
    counts: number;
  }>(),
  {
    counts: 1,
  }
);

const count = ref(props.counts);
const dec = () => {
  if (count.value >= 1) {
    count.value--;
  }
};
const inc = () => {
  count.value++;
};
//กำหนดค่าไว้ก่อน (จริงๆควรเป็น null แต่แบบนี้ก็ได้เหมือนกัน)
const menuSelect = ref();

//function: การทำงานคือเรียก getMenuById จากนั้นให้รอจนกว่าจะทำงานเสร็จ
const getMenuSelect = async () => {
  return await menuStore.getMenuById(parseInt(route.params.id + ""));
};

//ในส่วนจะเป็นกระบวนการแรกในการเริ่มทำงาน โดยการ call function
//แล้วให้รอข้อมูลกลับมาให้ครบก่อน จากนั้น .then((parameter) => {});
//คือหมายถึงว่า หาก function นี้ทำงานเสร็จแล้ว จะเก็บค่าจากการยิง api ที่ไปgetมา ไว้ใน parameter
//แล้วก็จะทำสิ่งต่อจากนี้ใน {} ส่วนกรณีนี้หมายถึงการนำค่าที่ set ref ไว้ตอนแรกมา = กัน
getMenuSelect().then((menu) => {
  menuSelect.value = menu;
});
</script>

<template>
  <v-card class="mx-auto" max-width="400">
    <v-img
      class="align-end text-white"
      height="300"
      :src="menuSelect?.img"
      cover
    >
    </v-img>
    <v-row>
      <v-col
        ><v-card-title>{{ menuSelect?.name }}</v-card-title></v-col
      >
      <v-col
        ><v-card-title class="text-right">
          {{ menuSelect?.price }}
        </v-card-title></v-col
      >
    </v-row>
    <v-divider></v-divider>
    <v-card-subtitle class="pt-4"> Note </v-card-subtitle>
    <v-textarea class="ma-4"></v-textarea>
    <v-card-actions class="text-center">
      <v-btn variant="flat" color="error" class="ms-15" @click="dec()">
        -
      </v-btn>
      <v-card-text>{{ count }}</v-card-text>
      <v-btn variant="flat" color="secondary" class="mr-15" @click="inc()">
        +
      </v-btn>
    </v-card-actions>
    <v-card-actions class="justify-center">
      <v-btn
        variant="flat"
        color="green"
        style="padding-left: 40px; padding-right: 40px"
        v-if="count > 0"
        to="/menu"
        >ADD</v-btn
      >

      <v-btn
        variant="flat"
        color="red"
        style="padding-left: 40px; padding-right: 40px"
        v-if="count === 0"
        to="/menu"
        >REMOVE</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<style scoped></style>
