<script setup lang="ts">
import { useQueueStore } from "@/stores/queue";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/order";
import type Queue from "@/types/Queue";

const queueStore = useQueueStore();
const orderStore = useOrderStore();
const role = localStorage.getItem("role");

onMounted(async () => {
  await queueStore.getQueues();
  await orderStore.getOrders();
});
async function finishedServe(item: Queue) {
  item.status = "served";
  await queueStore.updateQueue(item);
}
async function CancelQueue(id: number, item: Queue) {
  const delQueue = await queueStore.getQueueById(id);
  delQueue.status = "cancel";
  await queueStore.deleteQueue(delQueue);
}
</script>

<script lang="ts">
export default {
  data: () => ({
    tab: 0, //starting page
  }),

  watch: {
    length(val) {
      this.tab = val;
    },
  },
};
</script>

<template>
  <v-card
    style="
      border-radius: 10px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    "
    variant="text"
  >
    <h2
      style="color: black; padding-top: 20px; padding-bottom: 20px"
      class="text-center bg-deep-purple-lighten-4"
    >
      รายการอาหารรอเสิร์ฟ
    </h2>
  </v-card>
  <v-card style="margin-left: 30px; margin-right: 30px">
    <v-tabs v-model="tab" class="text-center bg-deep-purple-lighten-1">
      <v-tab value="serve">waiting</v-tab>
    </v-tabs>

    <v-card-text class="text-center">
      <v-window v-model="tab" style="border-radius: 10px">
        <v-window-item value="serve">
          <v-row>
            <v-col>
              <v-table class="overflow-y-auto" style="max-height: 500px">
                <thead class="text-center bg-deep-purple-lighten-3">
                  <tr>
                    <th class="text-center" style="font-size: larger">
                      รายการ
                    </th>
                    <th class="text-center" style="font-size: larger">สถานะ</th>
                    <th class="text-center" style="font-size: larger">โต๊ะ</th>
                    <th class="text-center" style="font-size: larger">
                      เสิร์ฟ
                    </th>
                  </tr>
                </thead>
                <tbody v-for="item of queueStore.queues" :key="item.id">
                  <tr v-if="item.status == 'finished'">
                    <td style="text-align: center">{{ item.name }}</td>
                    <td style="text-align: center">{{ item.status }}</td>
                    <td style="text-align: center">{{ item.table?.id }}</td>
                    <td style="text-align: center">
                      <v-btn
                        @click="finishedServe(item)"
                        icon="mdi mdi-food"
                        color="success"
                        class="ma-1"
                      ></v-btn>
                      <v-btn
                        v-if="role === 'cashier' || role === 'owner'"
                        @click="CancelQueue(item.id!, item)"
                        icon="mdi-close-thick"
                        color="red"
                        class="ma-1"
                      ></v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<style scoped></style>
