<script setup lang="ts">
import router from "@/router";
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import { onMounted } from "vue";
import CleanDialog from "./CleanDialog.vue";
import { useOrderStore } from "@/stores/order";

const tableStore = useTableStore();
const orderStore = useOrderStore();

onMounted(async () => {
  await tableStore.getTables();
});

const checkStatus = (status: string): string => {
  if (status === "A") {
    return "green";
  } else if (status === "U") {
    return "red";
  }
  return "orange-darken-1";
};

const selectTable = async (table: Table) => {
  if (table.status === "C") {
    tableStore.dialog = true;
  } else if (table.status === "A") {
    router.push("Reserve/" + table.id);
  } else {
    // const order_id = orderStore.orderList.find(
    //   (order) => order.table_number === table.id
    // );
    // console.log(order_id);
    const order = await orderStore.getOrderByTableNumber(table.id!);
    const lastedOrder = order[order.length - 1];
    console.log(lastedOrder.id);
    router.push("QRCode/" + lastedOrder.id);
  }
  tableStore.selectTable(table);
};
</script>

<template>
  <v-container class="bg-deep-purple-lighten-3">
    <v-row>
      <v-col
        cols="6"
        md="4"
        v-for="item of tableStore.tableList"
        :key="item.id"
      >
        <v-card height="200px">
          <v-btn
            height="100%"
            width="100%"
            class="text-h3"
            :color="checkStatus(item.status!)"
            @click="selectTable(item)"
            >{{ item.id + ` (${item.seats})` }}
          </v-btn>
        </v-card>
      </v-col>
    </v-row>
    <CleanDialog></CleanDialog>
  </v-container>
</template>
