<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/types/User";
import { onMounted } from "vue";
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});

function deleteUser(index: number) {
  userStore.deleteUser(index);
}
function addNewUser() {
  userStore.dialog = true;
}

function editUser(user: User) {
  userStore.editUser(user);
  userStore.dialog = true;
}
</script>
<template>
  <v-container>
    <v-card
      style="border-radius: 10px; margin-top: 10px; margin-bottom: 10px"
      variant="text"
    >
      <h2
        style="color: black; padding-top: 20px; padding-bottom: 20px"
        class="text-center bg-deep-purple-lighten-4"
      >
        การจัดการผู้ใช้งาน
      </h2>
    </v-card>
    <v-row>
      <v-col cols="3" offset="10">
        <v-btn color="primary" prepend-icon="mdi-plus" @click="addNewUser"
          >Add New
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table style="border-radius: 10px; max-height: 550px">
          <thead class="bg-deep-purple-lighten-4">
            <tr>
              <th></th>
              <th>ID</th>
              <th>Username</th>
              <th>Name</th>
              <th>Role</th>
              <th>Phone</th>
              <th>Salary</th>
              <th style="padding-left: 45px">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <th></th>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{ item.id }}
              </td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{ item.username }}
              </td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{ item.name }}
              </td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{ item.role }}
              </td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{ item.phone }}
              </td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{ item.salary }}
              </td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                <v-btn
                  class="ma-1"
                  color="yellow-darken-3"
                  icon="mdi-pencil"
                  @click="editUser(item)"
                ></v-btn>
                <v-btn
                  class="ma-1"
                  color="red"
                  icon="mdi-delete"
                  @click="deleteUser(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody> </v-table
      ></v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
