<script setup lang="ts">
import UserList from "./UserList.vue";
import UserDialog from "./UserDialog.vue";
</script>

<template>
  <v-container>
    <v-row>
      <UserList></UserList>
      <UserDialog></UserDialog>
    </v-row>
  </v-container>
</template>

<style scoped></style>
