<script setup lang="ts">
import MainView from "./views/MainView.vue";
import FullLayout from "./views/FullLayout.vue";
import MessageBox from "./components/MessageBox.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainView' ? MainView : FullLayout"
  ></component>
  <MessageBox></MessageBox>
  <LoadingDialog />
</template>
